<configuration debug="true" scan="true" scanPeriod="30 minutes">
    <springProperty scope="context" name="logFileDir" source="logback.logFileDir"/>

    <!-- 当前日志存放路径（路径末尾不要带“/”）,设置默认值 -->
    <property name="LOG_FILE_DIR" value="/data/log/hooker"/>
    <property name="HIS_LOG_FILE_DIR" value="/data/log/hooker/history"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS}|%level|%logger{36}:%line|%thread|%msg%n</pattern>
        </encoder>
    </appender>
    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_DIR}/hooker.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${HIS_LOG_FILE_DIR}/%d{yyyy-MM/dd/HH}-hooker.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS}|%level|%logger{36}:%line|%thread|%X{trackNo}|%msg%n</pattern>
        </encoder>
    </appender>


</configuration>
